<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博用户发言信息列表的制作之初、中、高级人员设计思路</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="demo01">
        <div class="left">
            <img src="images/head01.jpg">
        </div>
        <div class="right">
        <h6>樱桃小丸子</h6>
        <p>网站重构随着这个概念的出现，也带来了DIV结构的流行，因此也就出现了我们现在口头常说的“DIV+CSS做网站”。但从这个DIV+CSS的叫法来分析，可以了解到CSS已经被大家用在了页面布局上了。但一个页面不熟猪油口至DIV就控制DIV就控制了全面，还有很多其他的HTML标记，以前用table布局的页面，一样可以用CSS来控制它。</p>
        <span>10分钟之前</span>
        </div>
    </div>
    <br />
    <br />
    <div class="demo02">
        <img src="images/head01.jpg">
        <div class="right">
        <h6>樱桃小丸子</h6>
        <p>网站重构随着这个概念的出现，也带来了DIV结构的流行，因此也就出现了我们现在口头常说的“DIV+CSS做网站”。但从这个DIV+CSS的叫法来分析，可以了解到CSS已经被大家用在了页面布局上了。但一个页面不熟猪油口至DIV就控制DIV就控制了全面，还有很多其他的HTML标记，以前用table布局的页面，一样可以用CSS来控制它。</p>
        <span>10分钟之前</span>
        </div>
    </div>
    <br />
    <br />
    <div class="demo03">
        <img src="images/head01.jpg">
        <h6>樱桃小丸子</h6>
        <p>网站重构随着这个概念的出现，也带来了DIV结构的流行，因此也就出现了我们现在口头常说的“DIV+CSS做网站”。但从这个DIV+CSS的叫法来分析，可以了解到CSS已经被大家用在了页面布局上了。但一个页面不熟猪油口至DIV就控制DIV就控制了全面，还有很多其他的HTML标记，以前用table布局的页面，一样可以用CSS来控制它。</p>
        <span>10分钟之前</span>
    </div>
</body>
</html>