<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新手引导</title>
    <script type="text/JavaScript" src="js/JavaScript.js"></script>
    <script type="text/jQuery(JavaScript)" src="js/jQuery-1.7.min.js"></script>
    <script type="text/jQuery(JavaScript)" src="js/jQuery.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="mask"> </div>
        <div id="searchTip">
            <div class="stepA"><a>下一步</a><span title="关闭">关闭</span></div>            
            <div class="stepB"><a>下一步</a><span title="关闭">关闭</span></div>            
            <div class="stepC"><a>下一步</a><span title="关闭">关闭</span></div>            
            <div class="stepD"><a>下一步</a><span title="关闭">关闭</span></div>            
            <div class="stepE"><a>下一步</a></div>     
        </div>
</body>
</html>