<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新手引导</title>
    <!-- // <script src="js/jquery-1.7.min.js"></script> -->
   <!--  // <script type="text/jQuery(JavaScript)" src="js/JQ.jQuery(JavaScript)"></script> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery-1.7.min.js">
    </script>
    <script>
    $(function(){
        //读取cookie
        var res=document.cookie.substring(5);
        alert(res);
        
        //如果没有cookie，执行以下动作
        if(res!="www.open.com.cn"){
            alert(res)
        //mask  父框 第一单元显示出来
        $('#mask,#searchTip,#searchTip div:eq(0)').show();
        //下一步按钮
        $('#searchTip div a').click(function(){
            var current=$(this).parent();
            current.hide();
            current.next().show();
        })
        //关闭按钮
        $('#searchTip div span, #searchTip div a:last').click(function(){
            $('#mask, #searchTip').hide();  
        })
  
        //添加cookie
        var oDate=new Date();
        oDate.setDate(oDate.getDate()+30);
        document.cookie="name=www.open.com.cn;expires="+oDate;
        }
    })

    </script>
</head>
<body>
    <div id="mask"> </div>
    <div id="searchTip">
        <div class="stepA"><a>下一步</a><span title="关闭">关闭</span></div>            
        <div class="stepB"><a>下一步</a><span title="关闭">关闭</span></div>            
        <div class="stepC"><a>下一步</a><span title="关闭">关闭</span></div>            
        <div class="stepD"><a>下一步</a><span title="关闭">关闭</span></div>            
        <div class="stepE"><a>下一步</a></div>     
    </div>
</body>
</html>