*{ 
    margin:0;
    padding:0;
}
html{ 
    height:100%;
}
body{ 
    background:url(../images/body.png) center top; 
    height:100%;
}
#mask{ 
    height:100%; 
    width:100%; 
    position:absolute; 
    top:0; 
    left:0; 
    background:#000; 
    opacity:0.5; 
    filter:alpha( opacity=50); 
    display:none;
}

#searchTip{ 
    width:980px; 
    height:800px; 
    position:absolute;
    left:50%;
    margin-left:-490px; 
    display:none
}
#searchTip div{ 
    position:absolute;
     display:none;
 }
#searchTip div a{ 
    position:absolute; 
    width:95px; 
    height:32px; 
    text-indent:-999px; 
    overflow:hidden; 
    cursor:pointer; 
}
#searchTip div span{ 
    position:absolute;
    height:30px; 
    width:30px;  
    text-indent:-999px; 
    overflow:hidden;
    cursor:pointer; 
  }

.stepA{ 
    width:745px; 
    height:329px;
     background:url(../images/guide11.png); 
     top:131px; 
     left:-9px;
 }
.stepA span{
    top:144px; 
    left:683px;
}
.stepA a{
    top:231px; 
    left:490px; 
}

.stepB{ 
    background:url(../images/guide21.png); 
    width:647px;
     height:405px;
     top:2px;
      left:324px;
  }
.stepB a{
    top:308px;
     left:146px;
 }
.stepB span{ 
    top:196px;
     right:285px; 
}

.stepC{ 
    background:url(../images/guide31.png); 
    width:654px;
     height:257px;
     top:294px; 
     left:318px;
 }
.stepC a{
    top:155px;
    left:400px;
    }
.stepC span{ 
    top:44px; 
    right:35px;
}

.stepD{ 
    background:url(../images/guide41.png);
    width:558px; 
    height:348px;
    top:78px; 
    left:155px
}
.stepD a{
    top:246px; 
    left:304px;
}
.stepD span{ 
    top:135px; 
    right:35px; 
}

.stepE{ 
    background:url(../images/guide51.png); 
    width:397px; 
    height:342px;
    top:79px; 
    left:250px;
}
.stepE a{
    top:245px; 
    left:153px;
}