*{
    margin:0; 
    padding:0;
     font-size:14px;
 }
a{
    color:#333;
    text-decoration:none;
}
.nav{
    list-style:none; 
    height:30px; 
    border-bottom:10px solid #F60; 
    margin-top:20px;
    padding-left:50px;
}
.nav li{
    float:left;
}
.nav li a{
    display:block;
    height:30px;
    text-align:center;
    line-height:30px;
    width:80px;
    background:#efefef; 
    margin-left:1px;}
    .nav li a.on, .nav li a:hover{
    background:#F60;
    color:#fff; 
}